.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background {
  background-image: url('/regloss.jpeg');
  background-size: cover;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 6rem;
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.text-container {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.progress-bar-container {
  border: 2px solid white;
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 2rem;
}

.progress-bar-inner {
  background: white;
  height: 100%;
  border: 6px solid black;
}

.progress-bar-percentage {
  position: absolute;;
  left: 16px;
  top: 8px;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}

.details-container > p {
  margin-bottom: 1rem;
}


.channels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.channel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.channel-avatar {
  border-radius: 100%;
  margin-bottom: 1rem;
}

.channel-text {
  font-weight: bold;
  font-size: 1.1rem;
}